@model List<Restoran.ProductDisposal>
<div class="panel panel-primary">
    <div class="panel-heading">Списания продуктов</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Дата</td>
                    <td>Причина</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => m[@i].ProductDisposalId)</td>
                        <td>@Html.DisplayFor(m => m[@i].Date)</td>
                        <td>@Html.DisplayFor(m => m[@i].Reason.Name)</td>
                        <td>@Html.ActionLink("Просмотр", "Detail", new { id = Model[i].ProductDisposalId })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">@Html.ActionLink("Создать", "Create",null, new { @class= "btn btn-primary" })</div>
</div>

