@model Restoran.Product
@{
    ViewBag.Title = Model.Name;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.Name (@Model.Unit.Symbol)
    </div>
    <div class="panel-body">
        @Html.DisplayFor(m => m.Description)
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <caption>Поставщики</caption>
                    <thead>
                        <tr>
                            <th>Поставщик</th>
                            <th>Цена</th>
                        </tr>
                    </thead>                   
                        @foreach (var item in Model.ProductSupplier)
                        {
                            <tr>
                                <td>@item.Supplier.Name</td>
                                <td>@item.Price</td>
                            </tr>
                        }                  
                </table>
            </div>           
    </div>
</div>
    <div class="panel-footer">@Html.ActionLink("Список продуктов", "Index", null, new { @class = "btn btn-primary" })</div>
</div>
