@model Restoran.Market

<table class="table">
    @foreach (var item in Model.Suppliers)
    {
        <tr>
            <td>@item.SupplierId.</td>
            <td>@item.Name</td>  
            <td>@Html.ActionLink("Просмотр","Details",new { id=@item.SupplierId})</td> 
            <td>@Html.ActionLink("Редактировать","Edit",new { id=@item.SupplierId})</td>        
        </tr>
    }
</table>
@Html.ActionLink("Новый поставщик","Create",null,new { @class="btn btn-primary"})



