@model RestoranWeb.Models.OrderCreateViewModel
@using (Html.BeginForm("Create", "Order", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.SupplierId)
    <table class="table">
        <thead>
            <tr>
                <td>Название</td>
                <td>Ед.изм</td>
                <td>Цена</td>
                <td>Количество</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ProductOrdered.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(m => m.ProductOrdered[@i].ProductId)
                    @Html.HiddenFor(m=>m.ProductOrdered[@i].)
                    <td>@Model.ProductOrdered[@i].ProductName</td>
                    <td>@Model.ProductOrdered[@i].Product.Unit.Symbol</td>
                    <td>@Model.ProductOrdered[@i].Price</td>
                    <td>@Html.TextBoxFor(p => p.ProductOrdered[@i].Value)</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit"  class="btn btn-primary">Отправить</button>
}
