@model RestoranWeb.Models.Recipe.RecipeDetailViewModel
@{
    ViewBag.Title = Model.Name;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.Name
    </div>
    <div class="panel-body">

        @Model.Description
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <caption>Состав</caption>
                    <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Ед.изм.</th>
                            <th>Количество</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>@foreach (var product in Model.Components)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Unit</td>
                            <td>@product.Amount</td>
                        </tr>
                    }
                    </tbody>                
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <caption>Локации</caption>
                    <thead>
                        <tr>
                            <th>Название</th>
                        </tr>
                    </thead>
                  <tbody>
                      @foreach (var location in Model.Locations)
                      {
                          <tr>
                              <td>@location</td>
                          </tr>
                      }
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Список рецептов", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
