@model RestoranWeb.Models.RecipeEditViewModel
<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.EditRecipe.Name
    </div>  
        <div class="panel-body">   
            <h1>Продукты рецепта</h1>   
            @foreach (var item in Model.EditRecipe.Products)
            {
                <p>@item.Product.Name @item.Value</p>
            }
            <h1>Продукты</h1>
            @foreach (var item in Model.Products)
            {
                <p>@item.Product.Name @item.Value</p>
            }
        </div>
        <div class="panel-footer">        
        </div>
</div>
