@model RestoranWeb.Models.RecipeEditViewModel
<div id="edit">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @Model.Name
        </div>
        <div class="panel-body" id="recipeProducts">
            <h4>Продукты рецепта</h4>
            @using (Html.BeginForm("Edit", "Recipe", FormMethod.Post))
            {
                @Html.Label("Название")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
                @Html.HiddenFor(m => m.RecipeId)
                @Html.Label("Описание")
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
                @Html.Partial("EditProductsRecipe", Model.RecipeProducts)
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>

            }
            <h4>Продукты</h4>
            @Html.Partial("EditProducts", Model.NoRecipeProducts)
        </div>

    </div>
</div>




