@model RestoranWeb.Models.RecipeEditViewModel
<div class="panel panel-primary" id="edit">
    <div class="panel-heading">
        @Model.EditRecipe.Name
    </div>
    <div class="panel-body" id="recipeProducts">
        <h4>Продукты рецепта</h4>
        @using (Html.BeginForm("Edit", "Recipe", FormMethod.Post))
        {
            @Html.Label("Название")
            @Html.TextBoxFor(m => m.EditRecipe.Name, new { @class = "form-control" })
            @Html.HiddenFor(m=>m.EditRecipe.RecipeId)
            @Html.ValidationMessageFor(m => m.EditRecipe.Name)
            @Html.Label("Описание")
            @Html.TextAreaFor(m=>m.EditRecipe.Description,new { @class="form-control"})
            @Html.Partial("EditProductsRecipe", Model.EditRecipe)
            <button type="submit">Сохранить</button>
        }
        <h4>Продукты</h4>
        @Html.Partial("EditProducts", Model.Products)
    </div>
    <div class="panel-footer">
    </div>
</div>





