@model RestoranWeb.Models.RecipeLocationViewModel
<h3>Привязанные локации</h3>
<h3>Локации</h3>
@using (Html.BeginForm("EditLocation", "Recipe", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    for (int i = 0; i < Model.RecipeLocation.Count; i++)
    {
        @Html.DisplayFor(m => m.RecipeLocation[@i].Name)
        @Html.HiddenFor(m => m.RecipeLocation[@i].ID)
        @Ajax.ActionLink("Удалить", "RemoveLocation", new { locId = Model.RecipeLocation[@i].ID }, new AjaxOptions { UpdateTargetId = "edit" })

    }
    <button type="submit" class="btn btn-primary">Сохранить</button>
}

<h3>Локации</h3>
<table>
    @foreach (var location in Model.NoRecipeLocation)
    {
        <tr>
            <td>@location.Name</td>
            <td>
                @Ajax.ActionLink("Добавить", "AddLocation", new { locId = location.ID }, new AjaxOptions { UpdateTargetId = "edit" })
            </td>
        </tr>
    }
</table>

