@model List<Restoran.Location>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Локации</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Название</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var location in Model)
                {
                    <tr>
                        <td>@location.ID</td>
                        <td>@location.Name</td>
                        <td>@Html.ActionLink("Просмотр", "Details", new { id = location.ID })</td>
                        <td>@Html.ActionLink("Редактировать", "Edit", new { id = location.ID })</td>
                    </tr>
                }
                @Html.ActionLink("Добавить", "Create", "Location")
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Новый поставщик", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
