<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title – Restoran</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.1.1.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Продукты","Index","Product")</li>
                    <li>@Html.ActionLink("Рецепты", "Index", "Recipe")</li>
                    <li>@Html.ActionLink("Локации", "List", "Location")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настройки <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Продукты","Index","Product")</li>
                            <li>@Html.ActionLink("Ед.измерения","Index","Unit")</li>
                            <li>@Html.ActionLink("Категории","Index","ProductCategory")</li>
                            <li>@Html.ActionLink("Рецепты","Index","Recipe")</li>
                            <li>@Html.ActionLink("Локации","Index","Location")</li>
                            <li>@Html.ActionLink("Поставщики", "Index", "Supplier")</li>        
                            <li>@Html.ActionLink("Рынки","Index","Market")</li>   
                            <li>@Html.ActionLink("Прайс листы","Index","BidSheet")</li>          
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – https://github.com/megaded </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
