<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Накладная</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.Label("Номер накладной", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">
                @Html.TextBox("Test")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Номер счет-фактуры", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">
                @Html.TextBox("Test")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Дата", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">
                @Html.TextBox("Test")
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Название</td>
                        <td>Ед.изм</td>
                        <td>Количество заказанное </td>
                        <td>Количество по накладной</td>
                        <td>Цена</td>
                        <td>НДС</td>
                        <td>Цена с НДС</td>
                        <td>Общая цена</td>
                    </tr>
                </thead>
                <tr>
                    <td>@Html.TextBox("Test")</td>
                    <td>@Html.TextBox("Test")</td>
                    <td>@Html.TextBox("Test")</td>
                    <td>@Html.TextBox("Test")</td>
                    <td>@Html.TextBox("Test")</td>
                    <td>@Html.TextBox("Test")</td>
                    <td>@Html.TextBox("Test")</td>
                </tr>
            </table>
        </div>
        
    </div>
    <div class="panel-footer">Оприходовать накладную</div>
</div>
